* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.accordion {
    background-color: #2E3138;
    color: #FFF4EC;
    border: none;
    outline: none;
    width: 100vw;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 20px 40px;
    cursor: pointer;
    font-weight: 500;
}
.panel {
    display: none;
    padding: 10px 20px;
    background-color: #3F88C5;
}

.panel-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.5;
}
.panel-items > a {
    text-decoration: none;
    color: #FFF4EC;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
}
.active, .accordion:hover {
    background-color: black;
}